.box1{
	width:1300px;
	height:50px;
	background-color:teal;
	text-align:center;
	font-weight:bold;
	font-family:mooli;
}
.box2{
	width:1300px;
	height:50px;
	background-color:teal;
	text-align:center;
	font-weight:bold;
	font-family:mooli;
}
.box3{
	width:1300px;
	height:50px;
	background-color:teal;
	text-align:center;
	font-weight:bold;
	font-family:mooli;
}
.box4{
	width:1300px;
	height:50px;
	background-color:teal;
	text-align:center;
	font-weight:bold;
	font-family:mooli;
}
.box5{
	width:1300px;
	height:50px;
	background-color:teal;
	text-align:center;
	font-weight:bold;
	font-family:mooli;
}
.box6{
	width:1300px;
	height:50px;
	background-color:teal;
	text-align:center;
	font-weight:bold;
	font-family:mooli;
}
.box7{
	width:1300px;
	height:50px;
	background-color:teal;
	text-align:center;
	font-weight:bold;
	font-family:mooli;
}

