*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.container{
	max-width:1140px;
	margin:0 auto;
}
.header{
	width:100%;
	height:400px;
	background-color:black;
	color:white;
	margin:10px auto;
}
.main-box{
	width:100%;
	height:400px;
	background-color:teal;
	position:relative;
	margin:50px auto;

}
.child-box1,.child-box2,.child-box3,.child-box4,.child-box5,.child-box6{
		background-color:black;
		position:absolute;
		width:100px;
		height:100px;
}
.child-box2{
	top:0;
	right:0;
}
.child-box3{
	bottom:0;
	left:0;
}
.child-box4{
	bottom:0;
	right:0;
}
.child-box5{
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	
}
.container button{
	width:150px;
	height:40px;
	background-color:purple;
	color:white;
	position:relative;
	z-index:1;
	margin:10px auto;
	border-radius:45px;
}
.container button::after{
	position:absolute;
	content:'';
	width:0%;
	height:100%;
	background-color:pink;
	left:0;
	top:0;
	transition:1s;
	z-index:-1;
	border-radius:45px;
}
.container button:hover::after{
	width:100%;
}