*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0px auto;
    
}
.main-box{
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 10px 0;
   

}
.box1{
    width: 320px;
    height: 150px;
    background-color: rgba(37, 37, 61, 0.8);
    margin: 40px 5px;
    margin-left: 86px;
}
.box2{
    width: 320px;
    height: 150px;
    background-color: teal;
    margin: 40px 5px;
    
}
.box3{
    width: 320px;
    height: 150px;
    background-color: rgba(224, 150, 0, 0.8);
    margin: 40px 5px;
}
.box4{
    width: 320px;
    height: 150px;
    background-color: rgba(2, 108, 228, 0.8);
    margin: 40px 5px;
    margin-left: 86px;
}
.box5{
    width: 320px;
    height: 150px;
    background-color: rgba(188, 0, 34, 0.8);
    margin: 40px 5px;
}
.box6{
    width: 320px;
    height: 150px;
    background-color: rgba(234, 0, 255, 0.795);
    margin: 40px 5px;
}
.icon{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: rgba(37, 37, 61, 1) ;
    border: 2px solid white;
    margin: 0 auto;
    position: relative;
    top:-32px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 32px;
}

.box2 .icon{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: teal;
    border: 2px solid white;
    margin: 0 auto;
    position: relative;
    top:-32px;
}
.box3 .icon{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color:  rgba(224, 150, 0, 1);
    border: 2px solid white;
    margin: 0 auto;
    position: relative;
    top:-32px;
}
.box4 .icon{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color:  rgba(2, 108, 228, 1);
    border: 2px solid white;
    margin: 0 auto;
    position: relative;
    top:-32px;
}
.box5 .icon{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color:rgba(188, 0, 34, 1);
    border: 2px solid white;
    margin: 0 auto;
    position: relative;
    top:-32px;
}
.box6 .icon{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color:  rgba(234, 0, 255, 0.795);
    border: 2px solid white;
    margin: 0 auto;
    position: relative;
    top:-32px;
}


img{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
p{
    text-align: center;
    font-size: 20px;
    color: white;
    font-family:sans-serif;
    position: relative;
    top: -7px;
}
span{
    font-size:25px ;
    font-weight: 500;
}
.bbox,.bbox2,.bbox3,.bbox4,.bbox5,.bbox6{
    width: auto;
    height: 20px;
    background-color:  rgba(37, 37, 61, 1) ;
    position: relative;
    bottom: -13px;
    color: white;
    text-align: center;
    font-family: sans-serif;
}
.bbox2{
    background-color: rgb(5, 156, 156);

}
.bbox3{
    background-color: rgba(224, 150, 0, 1);

}
.bbox4{
    background-color:  rgba(2, 108, 228, 1);
}
.bbox5{
    background-color: rgba(188, 0, 34, 1);

}
.bbox6{
    background-color:   rgba(234, 0, 255, 0.795);

}
